#days{
    display: flex;
    
    flex-wrap: wrap;
 
}
#inp{
    display: flex;
    gap:20px;
    justify-items: center;
    align-items: center;
}
#allinp{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-items: center;
    align-items: center;
    border:2px solid transparent;
    background-color: blue;
    border-radius: 20px;
   margin-bottom: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
     width: fit-content;
    height: fit-content;
    align-items: center;
    align-self: center;
    padding: 20px;
}
.days-grid{
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: repeat(3, 1fr);
    width: 50px;
    gap: 24px;
   transition: all 0.3s ease; 
   }
                                                                                                                

.day-column {
    min-height:200px ;
    min-width: 200px;
    height: fit-content;
    box-sizing: border-box; /* inclut padding et border dans la largeur */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px transparent solid;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
}


#body{
    
    display: flex;
    flex-direction: column;
    gap: 20%;
   
}
select{
    border-radius: 30px;
    background-color: orange;
    padding: 4px;
    appearance: none;
    width: fit-content;  
    
}
select option {
  padding: 10px;
  color: #fdfbfb;
  background-color: rgb(53, 53, 230);
  border-radius: 25px;
}
select option:hover {
  background-color: #f0f0f0;
}
select option:checked {
  background-color: #1159eb;
  color: #8a7f7f;
}
input[type="text"]{
    background-color: whitesmoke;
    color: black;
    border: solid 2px transparent;
    border-radius: 30px;
    text-align: center;
    
}
button{
    background-color: orange;
     padding: 5%;
     width: fit-content;
    height: fit-content;
    
   margin-left: 20px;
   box-sizing: content-box;
    outline: none;
}
button:hover{
    background-color: green;
    border-color: transparent ;
}
.supp:hover{
    background-color:rgb(201, 4, 4) ;
}
.supp{
    background-color: rgb(245, 47, 47);
    width: fit-content;
    height: fit-content;
    text-align: center;
    align-items: center;
    display: flex;
    
    
}
.supp:active{
 padding: 5px;
 border-color: red; 
 border-color: transparent; 
 outline: none;
}

.text{
    list-style: none;
    display: flex;
    
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.text span:hover{
    border: orangered 5px solid;
    padding: 5px;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 10px 4px 7px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
}